{% extends 'myapp/base.html' %}
{% block body_block %}
    <div style="background-color: #efebe9; padding: 3%;">
    <form method="post">
        {% csrf_token%}
        <p>
            <label>Username:</label>
            <input type="text" name="username">
        </p>
        <p>
            <label>Password:</label>
            <input type="password" name="password">
        </p>
        <p>
            <input type="submit" value="Login">
        </p>
        <div class="row mb-4">
            <div class="col">
                <a href="{% url 'myapp:forgot_password' %}">Forgot Password</a>
            </div>
        </div>
    </form>
    </div>

{% endblock %}