{% extends 'myapp/base.html' %}
{% block body_block %}
    <div style="background-color: #efebe9; padding: 3%;">
<h2>Register</h2>
    <form method="POST" action="">
    {% csrf_token %}
    <div>{{ form.username.label }} {{ form.username }}</div><br>
    <div>{{ form.first_name.label }} {{ form.first_name }}</div><br>
    <div>{{ form.last_name.label }} {{ form.last_name }}</div><br>
    <div>{{ form.email.label }} {{ form.email }}</div><br>
    <div>{{ form.password1.label }} {{ form.password1 }}</div><br>
    <div>{{ form.password2.label }} {{ form.password2 }}</div><br>
    <input type="submit" name="Register User">
    {{ form.errors }}
    </form>
    </div>

{% endblock %}